@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* * {
    box-sizing: border-box;
  } */
* {
  background: none repeat scroll 0 0 transparent;
  /* border: medium none; */
  border-spacing: 0;
  color: #26589f;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42rem;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "InterLight";
  src: url("../public/fonts/InterLights.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "InterBold";
  src: url("../public/fonts/InterBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "InterMedium";
  src: url("../public/fonts/InterMedium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "InterRegular";
  src: url("../public/fonts/InterRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.homepage {
  background: url("../public/images/webbg-upgraded.webp");

    
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  width: 100%;
  height: 1273px;
}

.shipBg {
  background-image:
  url("../public/images/header-image.webp");
background-size: cover;
background-repeat: no-repeat;
background-position: top center;

width: 100%;
height: 1000px;
 

}

@media screen and (max-width: 1024px) and (min-width: 300px) {

  .homepage {
    
    background: url("../public/images/mobbg-upgr.webp");
    height: 193.7vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
 
  }

}


 
/*@media (min-width: 640px) {
  .homepage {
 
  }
}

 
@media (min-width: 768px) {
  .homepage {
 
  }
}

 
@media (min-width: 1024px) {
  .homepage {
 
  }
}

 
@media (min-width: 1280px) {
  .homepage {
 
  }
}

 
@media (min-width: 1536px) {
  .homepage {
 
  }
}  */


.aboutus__image {
  width: 880px;
  height: 515px;

  background-image: url("../public/images/ship-img.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

} 

@media screen and (max-width: 1024px) and (min-width: 300px) {

  .aboutus__image {
    width: 100%;
    height: 61vw;
  
 
  
  } 
  

}

.footer_bg_img {
  background-image: url("../public/images/footer-main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  height: 685px;
}

@media screen and (max-width: 1024px) and (min-width: 640px) {
  .footer_bg_img {
    background-image: url("../public/images/footer-bg-mob.webp");
    background-position: 0% 0%;
  
    width: 100%;
    height: 800px;
  }
}

@media screen and (max-width: 640px) and (min-width: 300px) {
  .footer_bg_img {
    background-image: url("../public/images/footer-bg-mob.webp");
 
  
    width: 100%;
    height: 820px;
    background-position: 0% 0%;
  }
}


 
@media screen and (max-width: 1024px) and (min-width: 300px) {
  .signInCustomStyles {
    border: 1px solid blue;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 12px;
  }

}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;

  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

 

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}


.header__logo {
  width: 166px;
  height: 50px;

  border: 1px solid white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.default-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}


.scrollbar-thin::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
  border-radius: 4px; /* Rounded corners for the track */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}


.borderTop {
 
  border-top: 0.5px solid rgba(120, 130, 136, 1);
}

.absCentered {
  left: 50%;
  top: 115%;
  transform: translate(-50%, -50%);
}

.logo-orange {
  background-image: url("../public/images/mainlogo-orange.webp");

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.logo-black {
  background-image: url("../public/images/mainlogo-bl.webp");

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.logo-white {
  background-image: url("../public/images/mainlogo-wh.webp");

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.linearForBg {
  background:  linear-gradient(180deg, #080B20 0%, rgba(8, 11, 32, 0.56) 10%, rgba(8, 11, 32, 0) 16.48%, rgba(8, 11, 32, 0.06) 52.51%, rgba(6, 7, 23, 0.514445) 84.23%, #050613 100%),  url("../public/images/benefits-bg-mob.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}