@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    padding: 0;
    margin: 0;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  /* * {
    box-sizing: border-box;
  } */
  * {
   
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #26589F;
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'InterLight';
    src: url('../public/fonts/InterLights.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'InterBold';
    src: url('../public/fonts/InterBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  

  @font-face {
    font-family: 'InterMedium';
    src: url('../public/fonts/InterMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'InterRegular';
    src: url('../public/fonts/InterRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }


  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }


  
  .container {
    margin: 0 auto;
    max-width: 1232px;
    padding: 0 16px;
    width: 100%;
  }
  

  .container.mt-330 {
    /* margin-top: 330px; */
    margin-top: 30rem;
  }


  
  .header__logo {
    width: 166px;
    height: 50px;
  
    border: 1px solid red;
  
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .default-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .w-100 {
    width: 100%;
  }
  
  .h-100 {
    height: 100%;
  }
  
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  /* #comment:focus,
  #phone:focus,
  #name:focus,
  #surname:focus,
  #countryCode:focus
  {
    border: 0 none #FFF;
    overflow: hidden;
  } */