@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    padding: 0;
    margin: 0;
 
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  /* * {
    box-sizing: border-box;
  } */
  * {
   
    background: none repeat scroll 0 0 transparent;
    /* border: medium none; */
    border-spacing: 0;
    color: #26589F;
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'InterLight';
    src: url('../public/fonts/InterLights.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'InterBold';
    src: url('../public/fonts/InterBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  

  @font-face {
    font-family: 'InterMedium';
    src: url('../public/fonts/InterMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'InterRegular';
    src: url('../public/fonts/InterRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }


  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }


  


  
  .header__logo {
    width: 166px;
    height: 50px;
  
    border: 1px solid red;
  
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .default-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .w-100 {
    width: 100%;
  }
  
  .h-100 {
    height: 100%;
  }
  
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  /* #comment:focus,
  #phone:focus,
  #name:focus,
  #surname:focus,
  #countryCode:focus
  {
    border: 0 none #FFF;
    overflow: hidden;
  } */




  .container {
    width:1100px;
    margin: 0 auto;
}
.page_container {
    min-height: 75vh;
}

.user_container {
  display:flex;
  margin-bottom: 50px;
  min-height: 700px;
}

.user_container .dashboard_title{
  margin-top: 20px;
}

.user_container .user_left_nav {
  border-right: 1px solid #f8f8f8; 
  margin-top: 30px;
}

.user_container .user_left_nav .links {
  margin: 13px 0px 40px 0px;
}

.user_container .user_left_nav .links a {
  display: block;
  border-bottom: 1px solid #dddddd;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 0px;
  width: 280px;
}

.user_container  .user_right {
  flex-grow: 1;
  padding: 0 0 0 29px;
}

.user_container .user_nfo_panel {
  background: #f8f8f8;
  padding: 20px;
  margin-top: 20px;
}

.user_container .user_nfo_panel h1 {
  margin: 0 0 20px 0;
  line-height: 32px;
  text-transform: uppercase;
  font-size: 25px;
}


.user_container .user_nfo_panel span{
  display: block;
  font-size: 18px;
  font-weight: 300;
}