body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    padding: 0;
    margin: 0;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  /* * {
    box-sizing: border-box;
  } */
  * {
   
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #26589F;
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'InterLight';
    src: url('../public/fonts/InterLights.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'InterBold';
    src: url('../public/fonts/InterBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  

  @font-face {
    font-family: 'InterMedium';
    src: url('../public/fonts/InterMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'InterRegular';
    src: url('../public/fonts/InterRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }


  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }


  
  .container {
    margin: 0 auto;
    max-width: 1232px;
    padding: 0 16px;
    width: 100%;
  }
  

  .container.mt-330 {
    margin-top: 330px;
  }

  .header {
    background: transparent;
    box-shadow: 0 4px 20px #1f163b12;
    margin-bottom: 50px;
    height: 60px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    height: 70px;
   
  }
  
  .header__logo {
    width: 166px;
    height: 50px;
  
    border: 1px solid red;
  
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header__menu {
    max-width: 670px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .header__menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 150px;
    height: 100%;
    transition: background-color .3s linear;
  
    cursor: pointer;
  }
  
  .header__menu-item:hover {
    background-color: #2d2d860d;
  }
  
  .footer {
    background-color: #1f163b;
    box-shadow: 0 -6px 20px #1f163b1a;
    margin-top: auto;
    padding: 30px 0;
  }
  
  .default-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .w-100 {
    width: 100%;
  }
  
  .h-100 {
    height: 100%;
  }
  
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }