.homepage {
    background: url("../../public/images/header-image.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;

    width: 100%;
    height: 1273px;
    
    
}

.headlineBox {
    width: 892px;
    height: 254px;

    background: rgba(0, 0, 0, 0.38);
    
}

.headlineBox__inner {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    padding: 35px;
}

.headlineBox__title {
    font-family: 'InterBold';
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    color: #fff;
 
}

.headlineBox__para {
    font-family: 'InterLight';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    color: rgba(255, 255, 255, 0.8);
    
    margin-top: 30px;
}

.headlineBox__bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    margin-top: auto;
}

.headlineBox__button {
    width: 270px;
    height: 70px;

    background: linear-gradient(180deg, #2F53FE 0%, #1B3CDE 100%);

    display: flex;
    justify-content: center;
    align-items: center;

}

.headlineBox__button button {
    width: 100%;
    height: 100%;
    font-family: 'InterBold';
    font-style: normal;
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}


.calculator__wrapper {
    width: 100%;
    height: 71.1vh;
    
    background-color: #000;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    padding-top: 70px;
}

.calculator {
    width: 420px;
    height: auto;

    border-radius: 12px;
    background: rgba(245, 245, 245, 0.95);
    padding: 30px;
}

.calculator__inner {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
 
}

.calculator__modal {
    width: 360px;
    height: 220px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}

.calculator__modal-group {
    width: 360px;
    height: 42px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calculator__modal-auc {
    width: 65%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.calculator__modal-aucSelect {
    width: 100%;
    height: 100%;
    
}